@use '../../../misc/var'

#Header
  .Logo
    display: flex
    justify-content: center
    background-color: var.$maize-crayola
    width: 100vw
    min-width: 50rem
    height: 4.9rem
    top: 0

    img
      top: 0.5rem
      position: absolute
      min-height: 5.2rem

  .ControlsWrapper
    background-color: var.$true-blue
    margin-bottom: 1rem
    box-shadow: 0 .3rem .4rem 0.001rem rgba(67, 67, 67, 50%)
    width: 100vw
    min-width: 50rem

    .ControlsRow
      min-width: 40rem !important