@use '../../variables'

#Home
  .Header
    display: flex
    justify-content: center
    background-color: variables.$maize-crayola
    width: 100%
    height: 4.9rem
    top: 0

    img
      top: 0.5rem
      position: absolute
      min-height: 5.2rem