@use '../../../../../misc/var'

.Task
  background-color: var.$eggshell
  text-align: center
  padding: .75rem 0 .5rem 0
  border-radius: .7rem
  box-shadow: 0 0 .3rem .3rem rgba(67, 67, 67, 50%)
  color: var.$black-coral

  .Title
    font-size: 1rem
    font-weight: bold
    margin-bottom: 0

  .Description
    margin: .2rem .7rem 0 .7rem
    font-size: 0.9rem

  .Subtasks
    margin-top: .5rem
    border-top: .2rem solid var.$black-coral
    padding: 0.5rem 1rem 0 1rem
    list-style: none
    margin-bottom: 0

    .Subtask
      font-style: italic

      .CheckButton
        background-color: transparent
        border: none

        .CheckBox
          font-weight: bold
          margin-right: 0.2rem

        li
          margin-bottom: 0