@use '../../../misc/var'

.InviteMember
  @extend #FormWrapper
  position: fixed
  top: 0
  left: 0
  width: 100vw
  z-index: 2
  background-color: rgba(0, 0, 0, 50%)
  border: none

.Form
  cursor: default
  padding-bottom: 1rem !important
