@use '../../../../../misc/vars'

.ControlMenu
  top: 100%
  width: 92%
  position: absolute
  background-color: vars.$true-blue
  z-index: 1
  box-shadow: 0 .3rem .2rem .2rem rgba(67, 67, 67, 50%)

  .ControlButton
    font-size: 1rem
    padding: .5rem 0 .3rem 0
    position: relative

    .IconLeft
      font-size: 2rem
      position: absolute
      top: .15rem
      left: .32rem

    .IconRight
      font-size: 2rem
      position: absolute
      top: .15rem
      right: 0

  .CreateButton
    font-size: 1rem
    padding: .5rem 0 .3rem 0

